*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: jost;
    src: url("./assets/fonts/jost/Jost-VariableFont_wght.ttf");
    font-weight: 100 1000;
  }

  @font-face {
    font-family: jost-italic;
    src: url("./assets/fonts/jost/Jost-Italic-VariableFont_wght.ttf");
  }
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: jost;
    src: url("./assets/fonts/jost/static/Jost-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: jost;
    src: url("./assets/fonts/jost/static/Jost-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: jost;
    src: url("./assets/fonts/jost/static/Jost-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: jost-italic;
    src: url("./assets/fonts/jost/static/Jost-Italic.ttf");
  }
}

.fs-h1,
.fs-h2,
.fs-h3,
.fs-body {
  font-family: jost;
}

.fs-h1,
.fs-h2,
.fs-h3 {
  font-weight: 500;
}

.fs-h1,
.fs-h2 {
  line-height: 48px;
}

.fs-h1 {
  font-size: 48px;
}

.fs-h2 {
  font-size: 40px;
  letter-spacing: 2px;
}

.fs-h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

.fs-body {
  font-weight: 400;
}
